{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Final Project - Image Gallary</title>

    <!-- Bootstrap Core CSS -->
    <link href="{%  static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{%  static 'css/shop-homepage.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>


<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Home gallery</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/popular">Popular</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">



        <div class="row">
            <div class="col-md-3">
                <p class="lead">{{ picture.slug }}</p>
                <div class="list-group">
                    <p class="list-group-item">Kартинка (тег img): {{ picture.image }}</p>
                    <p class="list-group-item">Oписание: {{ picture.description }}</p>
                    <p class="list-group-item">Дата загрузки: {{ picture.dateLoad }}</p>
                    <p class="list-group-item">размер файла: {{ picture.image.size }} kb</p>
                    <p class="list-group-item">размер (ширина, высота): {{ picture.image.width }}:{{ picture.image.height }}</p>
                    <p class="list-group-item">к-во просмотров: {{ picture.counter }}</p>
                </div>
            </div>

            - картинка (те

            <div class="col-md-9">

                    <div class="row carousel-holder">

                    <div class="col-md-12">
                        <img class="slide-image" src="{{ picture.image.url }}" alt="">

                    </div>

                </div>

        </div>

    </div>
    <!-- /.container -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>

    <!-- /.container -->

    <!-- jQuery -->
    <script src="{%  static 'js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{%  static 'js/bootstrap.min.js' %}"></script>

</body>

</html>
