{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Final Project - Image Gallary</title>

    <!-- Bootstrap Core CSS -->
    <link href="{%  static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{%  static 'css/shop-homepage.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>


<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Home gallery</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/popular">Popular</a>
                    </li>
                    <li>
                        <a href="/admin">In dev register</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

{#            <div class="col-md-3">#}
{#                <p class="lead">Shop Name</p>#}
{#                <div class="list-group">#}
{#                    <a href="#" class="list-group-item">Category 1</a>#}
{#                    <a href="#" class="list-group-item">Category 2</a>#}
{#                    <a href="#" class="list-group-item">Category 3</a>#}
{#                </div>#}
{#            </div>#}

            <div class="col-md-9">

                {% if top_like %}
                    <div class="row carousel-holder">

                    <div class="col-md-12">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                {% for picture in top_like %}
                                    <div class="item{% if forloop.counter == 1 %} active{% endif %}">
                                        <img class="slide-image" src="{{ picture.image_carusel.url }}" alt="" height="300">
                                    </div>
                                {% endfor %}
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>

                </div>
                {% endif %} 


                <div class="row">
                    {% for picture in pictures %}
                        <div class="col-sm-4 col-lg-4 col-md-4">
                            <div class="thumbnail">
                            <a href="/{{ picture.slug }}">
                                <img src="{{ picture.image_thumbnail.url }}" alt="" height="">
                            </a>
                                <div class="caption">
                                    <h4 class="pull-right"></h4>
                                    <h4><a href="/{{ picture.slug }}">{{ picture.slug }}</a>
                                    </h4>
                                    <p>{{ picture.description }}</p>
                                </div>
                                <div class="ratings">
                                    <p class="pull-right">{{ picture.getRewies }} reviews</p>
                                    <p>
                                        {% for i in loop_times %}
                                            {% if i <= 4 %}
                                                <span class="glyphicon glyphicon-star"></span>
                                            {% else %}
                                                <span class="glyphicon glyphicon-star-empty"></span>
                                            {% endif %}
                                        {% endfor %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>

                <div class="row">
                    <h1>Upload image form</h1>
                     <form action="/" method="post" enctype="multipart/form-data">
                         {% csrf_token %}
                         {{ form }}
                         <input type="submit" value="Submit" />
                     </form>
                </div>
            </div>

        </div>

    </div>
    <!-- /.container -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>

    <!-- /.container -->

    <!-- jQuery -->
    <script src="{%  static 'js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{%  static 'js/bootstrap.min.js' %}"></script>

</body>

</html>
